.App {
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    /* opacity: 0.7; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

h4 {
    font-size: 1.5rem !important;
}

h3 {
    font-size: 1.8rem !important;
}

button {
    width: 120px;
    height: 50px;
    border-radius: 6px;
    font-size: 25px;
    border: solid 1px #534a3c;
    /* background-color: #e9e8e6; */
}