.Navbar {
    background-color: transparent;
    padding: 12px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* border-bottom: solid 1px black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem {
    padding: 0 20px !important;
}